*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# setuptools-scm
_version.py

# Sphinx documentation
docs/_build/

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Vim
*.swp

.cache
__pycache__
/src/pydap/tests/dap_4_access/user.config
/src/pydap/tests/dap_4_access/dap4_access_test.log

# OS-X Finder
*.DS_Store

# IDEA Projects
.idea

.ipynb_checkpoints
*/.ipynb_checkpoints/*
