language: python
python:
    - 2.7
    - 3.3
    - 3.4
    - 3.5
addons:
  apt:
    packages:
      - gfortran
      - libblas-dev
      - liblapack-dev
      - cython
install:
    - travis_wait 30 pip install scipy
    - pip install -e .[testing,functions,tests]

script:
    - python setup.py nosetests -a '!auth'
    - if [ "${TRAVIS_PYTHON_VERSION}" == 3.5 ]; then flake8; fi
