recursive-include docs *
recursive-include src/pydap/wsgi/templates *
recursive-include src/pydap/responses/html/templates *
recursive-include src/pydap/tests *.das *.dds *.dods
include CONTRIBUTORS.md
include README.md
include NEWS.md
