recursive-include docs *
recursive-include pydap/wsgi/templates *
recursive-include pydap/responses/html/templates *
recursive-include pydap/tests *.das *.dds *.dods
include CONTRIBUTORS.md
include README.md
include NEWS.md
