body {
    font-size: 86%;
    margin: 0 auto;
    line-height: 1.7em;
}

a, .pure-menu a {
    color: #15c;
}

.header {
    margin: 0 0;
}

    .header .pure-menu {
        padding: 0.5em;
    }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            background: none;
            border: none;
        }

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

.pydap-listing {
    margin: 0;
    margin-top: 3.5em;
    width: 100%;
}

.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

    .footer a {
        color: #888;
    }

.icon-fixed-width {
    width: 1.28571429em;
    display: inline-block;
    text-align: center;
}

.opendap, .opendap a {
    color: #ccc;
    font-size: 90%;
    visibility: hidden;
}

tr:hover td .opendap,
tr:hover td .opendap a {
    visibility: visible;
}
