name: Run Python Tests on MacOS
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: [ '3.9' ]
    name: macos-latest Python ${{ matrix.python-version }} 
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        if: success() || failure()
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: install hdf5
        if: success() || failure()
        run: |
          brew install hdf5
      - name: Install dependencies
        if: success() || failure()
        run: |
          pip3 install -U pip setuptools
          pip3 install -U "werkzeug<2.1"
          pip3 install -U numpy webtest gsw coards
          pip3 install -U netCDF4 pytest numpy Webob Jinja2 docopt six beautifulsoup4 requests testresources
      - name: Run tests with pytest
        if: success() || failure()
        run: |
          pip install -e .[tests,netcdf,client]
          pytest 
