name: MacOS CI
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

defaults:
  run:
    shell: bash -l {0}

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12']
    name: macos-latest Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v4

    - name: Install Conda environment with Micromamba
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: ci/environment.yml
        environment-name: pydap_tests
        create-args: >-
          python=${{ matrix.python-version }}
          conda
        cache-environment: true

    - name: Install pydap and dependencies for testing
      run: |
        python -m pip install -e .

    - name: Run tests with pytest
      run: |
        pytest -v
