name: Run Python Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', ] #'3.10', '3.11' ]
    name: ubuntu-latest Python ${{ matrix.python-version }} 
    steps:
      - uses: actions/checkout@v3
      - name: Install Python 3
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip3 install -U pip setuptools
          pip3 install -U "werkzeug>=2.2.2" cryptography
          pip3 install -U numpy webtest gsw coards
          pip3 install -U netCDF4 pytest numpy Webob Jinja2 docopt six beautifulsoup4 requests testresources
      - name: Run tests with pytest
        run: |
          pip install -e .[tests,netcdf,client]
      - name: Run tests with pytest
        run: |
          pytest