name: Run Python Tests on MacOS
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ['3.x', '3.9', '3.10', '3.11']
    name: macos-latest Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v4
    - name: Install Python 3
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: install hdf5
      run: |
        brew install hdf5
    - name: Install dependencies
      run: |
        pip3 install -U pip setuptools
        pip3 install -U "werkzeug<2.1"
        pip3 install -U numpy webtest gsw coards
        pip3 install -U netCDF4 pytest numpy Webob Jinja2 docopt-ng beautifulsoup4 requests testresources
    - name: Run tests with pytest
      run: |
        pip install -e .[tests,netcdf,client]
        pytest
